oj_windows-*.gem
.DS_Store
\#*\#
.\#*
*~
*.o
# MSVC build artifacts (in-tree compiles)
*.obj
*.def
*.lib
*.exp
*.pdb
*.ilk
ext/**/Makefile
ext/oj_windows/oj_windows/
Makefile
*.bundle
.rbenv-version
.ruby-version
*.rbc
.rbx
doc
.yardoc
Gemfile.lock
*.so
vendor
gemfiles/*.lock
tmp
